<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>React Multi State</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
    <style>
        #judul {
            color: blueviolet;
            text-shadow: 1px 1px, 3px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #root {
            display: flex;
            justify-content: center;
        }

        h1 {
            background-color: gainsboro;
            font-size: 3em;
            text-align: center;
            padding: 10px 20px;
            margin: 15px 0;
        }

        button {
            background-color: white;
            cursor: pointer;
            padding: 10px 20px;
            font-weight: bold;
            border: 1px solid gray;
            box-shadow: 2px 2px 2px black;
            margin: 5px;
        }

        button:hover {
            box-shadow: 1px 1px 1px black;
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>

    <div id="root"></div>
    <script type="text/babel">
          let data = [{
                id: "01",
                name: "uzumaki Naruto",
                jurusuan: "TI",
                foto: 'img/naruto.jpg'
            }, {
                id: "02",
                name: "Haruno Sasukara",
                jurusuan: "TI",
                foto: 'img/sakura.jpg'
            }, {
                id: "03",
                name: "Uciha Sasuke",
                jurusuan: "TI",
                foto: 'img/sasuke.jpg'
            }];

        class MyaApp extends React.Component {
            constructor(props) {
                super(props);
                this.mahasiswa = this.props.mahasiswa
                this.state = {
                    mahasiswa : {
                        name : this.mahasiswa[0].name,
                        foto: this.mahasiswa[0].foto,
                        jurusuan: this.mahasiswa[0].jurusuan,       
                    }
                }
            }

            clickSlideMhs = (e) => {
                let mahasiswaList = this.props.mahasiswa;
                let mhs = this.props.mahasiswa.find((data) => data.id === e.target.getAttribute('index'));
                
                if(mhs.length > 0 || mhs != undefined) {
                    this.setState({
                         mahasiswa: {
                            name:mhs.name,
                            foto: mhs.foto,
                            jurusuan: mhs.jurusuan,
                        }
                    });
                }
            }

            render() {
                return (
                    <React.Fragment>
                        <div>
                        {
                            this.mahasiswa.map((mhs, no) => {
                               return <button key={no} index={mhs.id} onClick={this.clickSlideMhs}>{mhs.name}</button>
                            })
                        }
                        <div style={{ justifyContent : 'center' }}>
                            <section style={{ display: 'flex', textAlign: 'center' }}>
                                    <figure>
                                        <img src={this.state.mahasiswa.foto} alt={this.state.mahasiswa.name} />
                                        <figcaption>
                                             <button>{this.state.mahasiswa.name} ({this.state.mahasiswa.jurusuan})</button>
                                        </figcaption>
                                    </figure>
                                </section>
                        </div>
                        </div>
                    </React.Fragment>
                );
            }
        }

        ReactDOM.render(<MyaApp mahasiswa={data} />, document.getElementById('root'));
    </script>
</body>

</html>