<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Latihan React</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
    <style>
        #judul {
            color: blueviolet;
            text-shadow: 1px 1px, 3px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Belajar React - JSX 6 </h1>
    <div id="root"></div>
    <script type="text/babel">
        let p = 8;
        let l = 5;

        let lab = `Hitung Luas Persegi Panjang dengan panjang ${p} dan Lebar ${l} `;
        const elem = (
            <div>
                <p style={{ color : 'Violet', backgroundColor : 'black' }}>{ lab }</p>
                <p> {p} X {l} = {p * l} </p>
            </div>
        );

        ReactDOM.render(elem, document.getElementById('root'));
    </script>
</body>

</html>