<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Latihan React</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
    <style>
        #judul {
            color: blueviolet;
            text-shadow: 1px 1px, 3px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Belajar React - JSX 9 list Mahasiswa </h1>
    <div id="root"></div>
    <script type="text/babel">
       const mahasiswaList = [
           {
               nama : "Naruto Uzumaki",
               umur : 17,
               jurusan : 'Teknik Informatika'
           }, {
               nama: "Uciha Sasuke",
               umur: 18,
               jurusan: 'Teknik Informatika'
           }, {
               nama: "Haruno Sakura",
               umur: 17,
               jurusan: 'Teknik Informatika'
           }
       ];
       const elem = (
           <div>
                <table style={{ border : '1px solid rgba(0, 0, 0, 0.05)' }}>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama</th>
                            <th>Umur</th>
                            <th>Jurusan</th>
                        </tr>
                    </thead>
                    <tbody>
                    { mahasiswaList.map((data, i) => {
                        console.log(data);
                        return (<tr key ={i}>
                            <td>{i + 1}</td>
                            <td>{data.nama}</td>
                            <td>{data.umur}</td>
                            <td>{data.jurusan}</td>
                        </tr>);
                    }) 
                    } 
                    </tbody>
                </table>
           </div>
       );

       ReactDOM.render(elem, document.getElementById('root'));
    </script>
</body>

</html>