<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>React Ref (menjaga perubahan variabel yng di re render useState)</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
    <style>
        #judul {
            color: blueviolet;
            text-shadow: 1px 1px, 3px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #root {
            display: flex;
            justify-content: center;
            font-size: 1.2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container {
            margin-top: 2rem;
            padding: 2rem 3rem;
            box-shadow: 8px 8px 0px black;
            border: 2px solid black;
        }

        .container div {
            padding-bottom: 0.6rem;
        }

        div label:first-child {
            display: inline-block;
            width: 180px;
        }

        label {
            vertical-align: top;
        }

        input[type='text'],
        input[type='email'],
        textarea,
        select {
            width: 230px;
            font-size: 1rem;
        }

        h1 {
            background-color: gainsboro;
            font-size: 3em;
            text-align: center;
            padding: 10px 20px;
            margin: 15px 0;
        }

        button {
            background-color: white;
            cursor: pointer;
            padding: 10px 20px;
            font-weight: bold;
            border: 1px solid gray;
            box-shadow: 2px 2px 2px black;
            margin: 10px;
        }

        button:hover {
            box-shadow: 1px 1px 1px black;
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <script type="text/babel">
        class MyaApp extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    email: "",
                    username: "",
                    errors : {email : "", username : ""}
                }
            }

            handleInputChange = (e) => {
                this.setState({ [e.target.name]  : e.target.value });
            }

            handleButtonClick = (e) => {
                e.preventDefault();
                console.log(this.state);
                let errors = this.state.errors;
                if(!this.state.username) {
                    errors.username = "Username Tidak Boleh di Kosongkan";
                } else if(this.state.username.length < 6) {
                     errors.username = "Username Minimal 6 Karakter";
                } else {
                    errors.username = "";
                }

                if(!this.state.email) {
                    errors.email = "email Tidak Boleh di Kosongkan";
                } else if ((!/\S+@\S+\.\S+/.test(email))) {
                    errors.email = "Email Tidak Valid";
                } else {
                    errors.email = "";
                }

                this.setState({ errors : errors });
            }

            render() {
                return (
                    <div className='container'>
                        <form onSubmit={this.handleButtonClick} >
                        <div>
                            <label htmlFor='nama'>Username</label>
                            <input type='text' name='username' id='nama' onChange={this.handleInputChange} />
                        </div>
                        {this.state.errors.username && <small style={{ marginLeft: '180px', color: 'red' }}>{this.state.errors.username}</small>} 
                        <div>
                            <label htmlFor='email'>Email</label>
                            <input type='email' name='email' id='email' onChange={this.handleInputChange} />
                        </div>
                       {this.state.errors.email && <small style={{ marginLeft: '180px', color : 'red' }}>{this.state.errors.email}</small>} 
                        <br />
                        <button>submit</button>
                        </form>
                    </div>
                );
            }
        }

        ReactDOM.render(<MyaApp />, document.getElementById('root'));
    </script>
</body>

</html>