<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>React Conter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
    <style>
        #judul {
            color: blueviolet;
            text-shadow: 1px 1px, 3px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #root {
            display: flex;
            justify-content: center;
        }

        h1 {
            background-color: gainsboro;
            font-size: 3em;
            text-align: center;
            padding: 10px 20px;
            margin: 15px 0;
        }

        button {
            background-color: white;
            cursor: pointer;
            padding: 10px 20px;
            font-weight: bold;
            border: 1px solid gray;
            box-shadow: 2px 2px 2px black;
            margin: 5px;
        }

        button:hover {
            box-shadow: 1px 1px 1px black;
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>

    <div id="root"></div>
    <script type="text/babel">
        class MyaApp extends React.Component {
            constructor(props) {
                super(props);
                this.state = {number : this.props.number}; 
            }

            counerClickBtn = (e) => {
               let numberState = this.state.number;
              // console.log(e.target.getAttribute('label'));
               if(e.target.getAttribute('label') == '-' && numberState > 0) {
                   this.setState({number : numberState - 1});
               } else if(e.target.getAttribute('label') == '+') {
                   this.setState({ number: numberState + 1 });
               }
            }

            render() {
                return (
                    <React.Fragment>
                        <div>
                           
                            <div style={{ justifyContent: 'center' }}>
                                <section style={{ display: 'flex', textAlign: 'center' }}>
                                    <figure>
                                        <h1>{ this.state.number }</h1>
                                        <figcaption>
                                           <button onClick={this.counerClickBtn} label='-'>-</button>
                                           <button  onClick={this.counerClickBtn} label='+'>+</button>
                                        </figcaption>
                                    </figure>
                                </section>
                            </div>
                        </div>
                    </React.Fragment>
                );
            }
        }

        ReactDOM.render(<MyaApp number={0} />, document.getElementById('root'));
    </script>
</body>

</html>