<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>React Event Functional</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
</head>

<body>
    <div id="root"></div>
    <script type="text/babel">
        let Tombol = (props) => {
           let handleClickBtn = () => {
                alert(props.pesan);
            }

            return (
                <React.Fragment>
                    <button onClick={ handleClickBtn } style={{ margin : '10px' }}>{props.children}</button>
                </React.Fragment>
            );
        }

        let App = (props) => {
            return (
                <div>
                    <h1>Haloo {props.name} Pilih Library Mana ?</h1>
                    <Tombol pesan='anda memilih react'>React</Tombol>
                    <Tombol pesan='Anda memilih Jquery'>Jquery</Tombol>
                </div>
            );
        }

        ReactDOM.render(<App name='naruto' />, document.getElementById('root'));
    </script>
</body>

</html>