<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>React Event</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
</head>

<body>
    <div id="root"></div>
    <script type="text/babel">
        class Tombol extends React.Component {
            // eventClickBtn () {
            //     alert(this.props.pesan)
            // // }
            //   <button onClick={this.eventClickBtn.bind(this)} style={{ margin: "10px" }}>{this.props.children}</button>-->
                eventClickBtn = (e) => {
                    console.log(this);
                    console.log(e);
                    alert(this.props.pesan)
                }
            render() {
                return (
                    <React.Fragment>
                      
                        <button onClick={this.eventClickBtn} style={{ margin: "10px" }}>{this.props.children}</button>
                    </React.Fragment>
                )
            }
         }

         class Myapp extends React.Component {
             render() {
                 return (
                     <div>
                        <h1>Belajr ?</h1>
                        <Tombol pesan="Belajr React Js">React</Tombol>
                        <Tombol pesan="Belajar Javascript">Javascript</Tombol>
                     </div>
                 );
             }
         }

         ReactDOM.render(<Myapp />, document.getElementById('root'));

    </script>
</body>

</html>