<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>React Ref (menjaga perubahan variabel yng di re render useState)</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
    <style>
        #judul {
            color: blueviolet;
            text-shadow: 1px 1px, 3px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #root {
            display: flex;
            justify-content: center;
            font-size: 1.2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container {
            margin-top: 2rem;
            padding: 2rem 3rem;
            box-shadow: 8px 8px 0px black;
            border: 2px solid black;
        }

        .container div {
            padding-bottom: 0.6rem;
        }

        div label:first-child {
            display: inline-block;
            width: 180px;
        }

        label {
            vertical-align: top;
        }

        input[type='text'],
        input[type='email'],
        textarea,
        select {
            width: 230px;
            font-size: 1rem;
        }

        h1 {
            background-color: gainsboro;
            font-size: 3em;
            text-align: center;
            padding: 10px 20px;
            margin: 15px 0;
        }

        button {
            background-color: white;
            cursor: pointer;
            padding: 10px 20px;
            font-weight: bold;
            border: 1px solid gray;
            box-shadow: 2px 2px 2px black;
            margin: 10px;
        }

        button:hover {
            box-shadow: 1px 1px 1px black;
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <script type="text/babel">
        class MyApp extends React.Component {
            constructor(props) {
                super(props);
                this.state = { 
                    username : '',
                    pesanError : ''
                    };
            }

            handleOnchange = (e) => {
                this.setState({ username : e.target.value });
            }
            submitBnt = (e) => {
                e.preventDefault();
                console.log(this.state.username);
                if(this.state.username.trim() === "") {
                    this.setState({ pesanError : "username tidak boleh kosong" });
                }else if(this.state.username.length < 6) {
                    this.setState({ pesanError : "username minimal 6 karakter" });
                } else {
                    this.setState({pesanError : ""});
                }

            }

            render() {
                return (
                    <div>
                        <form onSubmit={this.submitBnt}>
                        <input type='text' onChange={this.handleOnchange}  id='username' style={{ marginLeft : '10px' }} />
                        <input type='submit' style={{ marginLeft : '10px' }} />
                        </form>
                        {this.state.pesanError && <p style={{ color : 'red' }}>{this.state.pesanError}</p>}
                    </div>
                );
            }
        }

        ReactDOM.render(<MyApp />, document.getElementById('root'));
    </script>
</body>

</html>