<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>React Class Show Data array</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <!-- harus pake babel apabila ingin menggunakan jsx-->
</head>

<body>
    <div id="root"></div>
    <script type="text/babel">
        let data = [{
            id: "01",
            name: "uzumaki Naruto",
            jurusuan: "TI",
            foto: 'img/naruto.jpg'
        }, {
            id: "02",
            name: "Haruno Sasukara",
            jurusuan: "TI",
            foto: 'img/sakura.jpg'
        },  {id: "03",
            name: "Uciha Sasuke",
            jurusuan: "TI",
            foto: 'img/sasuke.jpg'}]

        class Mahasiswa extends React.Component {
            render() {
                return (
                    <div>
                        <h1>Daftar Mahasiswa Universitas Konoha</h1>
                        <hr />
                        <section style={{ display : 'flex', textAlign : 'center' }}>
                        { data.map((mahasiswa) => {
                          return (<figure key={mahasiswa.id}>
                                <img src={mahasiswa.foto} alt={mahasiswa.name} />
                                <figcaption>{mahasiswa.name} ({mahasiswa.jurusuan})</figcaption>
                            </figure>)
                        }) }
                        </section>
                    </div>
                );
            }
        }

        ReactDOM.render(<Mahasiswa />, document.getElementById('root'));
    </script>
</body>

</html>